USE [master]
GO
/****** Object:  Table [dbo].[artists]    Script Date: 02.02.2024 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[song_artists]    Script Date: 02.02.2024 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[song_artists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[songid] [nchar](10) NOT NULL,
	[nameid] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 02.02.2024 0:37:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Rating] [tinyint] NULL,
	[file_size_kb] [int] NULL,
	[duration_seconds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[artists] ON 

INSERT [dbo].[artists] ([Id], [Name]) VALUES (3, N' Michael')
INSERT [dbo].[artists] ([Id], [Name]) VALUES (4, N'Kid.nap')
INSERT [dbo].[artists] ([Id], [Name]) VALUES (5, N'asd')
SET IDENTITY_INSERT [dbo].[artists] OFF
GO
SET IDENTITY_INSERT [dbo].[song_artists] ON 

INSERT [dbo].[song_artists] ([Id], [songid], [nameid]) VALUES (1, N'1         ', N'3         ')
INSERT [dbo].[song_artists] ([Id], [songid], [nameid]) VALUES (4, N'3         ', N'4         ')
INSERT [dbo].[song_artists] ([Id], [songid], [nameid]) VALUES (5, N'4         ', N'5         ')
SET IDENTITY_INSERT [dbo].[song_artists] OFF
GO
SET IDENTITY_INSERT [dbo].[songs] ON 

INSERT [dbo].[songs] ([Id], [Title], [Rating], [file_size_kb], [duration_seconds]) VALUES (1, N'Bad', 10, 3000, 345)
INSERT [dbo].[songs] ([Id], [Title], [Rating], [file_size_kb], [duration_seconds]) VALUES (2, N'Billie Jean', 9, 4000, 543)
INSERT [dbo].[songs] ([Id], [Title], [Rating], [file_size_kb], [duration_seconds]) VALUES (3, N'Zombie', 8, 5000, 653)
SET IDENTITY_INSERT [dbo].[songs] OFF
GO
